html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  color: #007bff; 
  transition: box-shadow 0.25s ease-in-out; 
}

.btn:hover {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important; 
}

.btn-primary {
  font-size: 1.25rem;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out; 
}

.btn-primary:hover {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3); 
}

.btn-xl {
  font-size: 1.25rem;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(to right, #007bff 0%, #001c55 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #007bff; 
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
  margin: 0 auto; 
  color: #007bff; 
}

.text-uppercase {
  font-size: 3rem;
  color: #007bff; 
}

.lead {
  font-size: 1.25rem;
  margin-top: 25px;
  color: #007bff;
}

.form-inline {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  width: 50%;
  height: 3rem;
  border-radius: 4px;
  border: 1px solid #007bff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 123, 255, 0.5);
  color: #007bff;
  transition: box-shadow 0.25s ease-in-out;
  margin: 0 auto; /* Center the input form */
}

.form-control:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.btn-primary {
  margin-top: 30px; 
}

.WT1,
.WT2,
.masthead h2,
#quote p,
.lead,
#cityName h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff; 
}


#error {
  color: red;
}
