<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyWeather</title>


    <link href="node_modules/startbootstrap-grayscale/dist/css/styles.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">


    <link href="custom-styles.css" rel="stylesheet">
</head>

<body>
    <header class="masthead">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="text-uppercase">
                        Easy<i class="bx bx-cloud"></i>Weather
                    </h1>
                    <p class="lead">Enter your city to discover the magic of weather with inspirational weather
                        quotes. No matter the weather, our service will warm your heart.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form class="form-inline" method="POST">
                        <div class="form-group">
                            <label for="cityName" class="sr-only">Enter city</label>
                            <input type="text" class="form-control" id="cityName" name="cityName" required
                                placeholder="Enter city">
                        </div>
                        {% if error %}
                        <p class="error">{{ error }}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-xl">Submit <i class="bx bx-cloud"></i></button>
                    </form>
                </div>
            </div>
            {% if data %}
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Weather in {{ data.city }}</h2>
                    <p class="WT1">Weather: {{ data.weather }}</p>
                    <p class="WT2">Temperature: {{ data.temp }}°C</p>
                    <div id="quote">
                        {% if data.quote %}
                        <p>{{ data.quote }}</p>
                        {% else %}
                        <p>No quote available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </header>

    <script src="node_modules/startbootstrap-grayscale/dist/js/scripts.js"></script>
</body>

</html>
