<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <title>EasyWeather</title>
</head>
<body>
<nav>
    <label class="logo">Easy<i class="bx bx-cloud"></i>Weather</label>
</nav>

<div class="container">
    <div class="card">
      <br>
        <form class="cN" method="POST">
            <p class="welcome">"Welcome to EasyWeather! Discover the magic of weather with a smile – simply enter your city, and we'll bring you the forecast while brightening your day with uplifting weather quotes. Let the sunshine of our service warm your heart, rain or shine!"</p>
            <div class="input-container">
                <label for="cityName">Enter city<i class='bx bx-right-arrow-alt'></i></label>
                <br>
                <br>
                <input type="text" id="cityName" name="cityName" required/>
            </div>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <br>
          
        </form>
        <button type="submit">Submit <i class='bx bx-cloud'></i></button>
        {% if data %}
        <h2>Weather in {{ data.city }}</h2>
        <p class="WT1">Weather: {{ data.weather }}</p>
        <p class="WT2">Temperature: {{ data.temp }}°C</p>
        <div id="quote">
            {% if data.quote %}
            <p>{{ data.quote }}</p>
            {% else %}
            <p>No quote available.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="contact">
        <p>If you have any questions, feel free to contact us on WhatsApp:</p>
        <a href="https://wa.me/{{ whatsapp_number }}" target="_blank">
            <i class='bx bxl-whatsapp whatsapp-icon'></i>
        </a>
    </div>
</div>
<footer class="footer">
    &copy; 2023 Easy<i class='bx bx-cloud'></i>Weather
</footer>
</body>
</html>
